.error {
    text-align: center;
}

.contenedorGeneral {
    text-align: center;
    background-color: rgba(122, 112, 112, 0.301);
    border-width: 5px;
    border-radius: 10px;
    border-style: inset;
    border-color: black;
    position: relative;
    width: 85%;
    min-height: 300px;
    top: 20%;
    left: 8%;
}

.titulo{
    margin-top:5%;
}

.texto{
    margin-top:10%;
}

ion-input{
    background-color: rgb(162, 181, 218);
    border-radius: 10px;
    width: 93%;
    padding: 10px;
    margin:10px 10px 10px 10px;
 }

.botonRegistrarse{
    margin-top:5%;
    margin-bottom: 5%;
}