.contenedorBotones {
    position: relative;
    top: 5%;
    left: 5%;
    width: 90%;
    border-radius: 10px;
    text-align: center;
}

.iconoBack{
    width: 30px;
    position: relative;
    left:-1%;
}
ion-content {
    // overwrite inline styles
    --overflow: hidden;
    overflow: auto;
}